DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_SUPERUSER_PASSWORD=

TELEGRAM_TOKEN=
OPENAI_API_KEY=

EMBEDDING_MODEL=text-embedding-3-small
CHAT_MODEL=gpt-4o-mini
FAISS_SCORE_THRESHOLD=1.35
SUPPORT_WHATSAPP=https://wa.me/77786926834
